body {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 20px;
    image-rendering: crisp-edges;
}


h1 {
    color: aliceblue;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;

}

h2 {
    color: aliceblue;
    font-family: Arial, sans-serif;
    text-align: centre;

}

input[type="button"],
button {
    background: linear-gradient(45deg, #5d07be, #08080a);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 4px 15px rgb(84, 113, 228);
    position: relative;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input[type="button"],
button:hover {
    background: linear-gradient(45deg, #0bdbd1, #054cb6);
    transform: scaleX(1.05);
    animation: pulse 1s infinite;

}

input[type="button"],
button:active {
    transform: scale(0.95);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(176, 19, 248, 0.7);
    }

    50% {
        box-shadow: 0 0 20px rgba(35, 129, 252, 0.9);
    }

    100% {
        box-shadow: 0 0 10px rgba(42, 7, 243, 0.904);
    }

}

.input,
input[type="email"],
select,
datalist,
input[list],
input[type="password"],
input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: 0.3s;
    background-color: black;
    color: aliceblue;
}

input[type="email"]:focus,
select,
input[list],
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: linear-gradient(45deg, #ff33bb, #054cb6);
    outline: none;
    box-shadow: 0 4px 15px 2px rgba(160, 186, 235, 0.658);


}

input[type="range"] {

    appearance: none;
    width: 100%;
    max-width: 300px;
    height: 8px;
    background: linear-gradient(45deg, #1a0be6, #06dacf);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;


}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, #1a0be6, #ccda06);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);

}

input[type="range"]:hover {
    background: linear-gradient(45deg, #1a0be6, #06dacf);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, #1a0be6, #c806da);
    border-radius: 30%;
    cursor: pointer;
}

.background-tint {
    background-color: rgba(71, 72, 80, 0.541);
    background-blend-mode: multiply;

}

.img1 {
    width: 1000px;
    max-width: 100%;
    border-radius: 20px;
    transition: transform 1s;
    opacity: 0.8;
    transition: opacity 1s;
    z-index: 1;
    transition: 1s ease;
    margin: 20px;

}

.img1:hover {
    transition: 1s ease;
    transform: scale(1.03);
    opacity: 1;


}

.caption {
    z-index: 2
}

.credits-container {
    position: relative;
    width: 50%;
    height: 500px;
    overflow: hidden;
}

.credits {
    position: absolute;
    bottom: 100%;
    width: 100%;
    text-align: center;

    animation: scrollUp 100s linear infinite, fadeInOut 10s ease-in-out infinite;
}

@keyframes scrollUp {
    0% {
        bottom: -100%;

    }

    50% {
        bottom: 100%;

    }

    100% {
        bottom: 100%;

    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }
}

.video {
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(248, 244, 244, 0.5);
    width: 80%;
    max-width: 800px;
    display: block;
    margin: 20px auto;
    transition: transform 1s ease-in-out;



}



.video:hover {
    transform: scale(1.1);

}